@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000a0b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-and-herosection {
  background-image: url("/hero-bg.png");
  background-size: cover;
  height: 1000px;
}
