@media (min-width: 769px) and (max-width: 1024px) {
}

@media (max-width: 768px) {
  .footer-outer-container {
    padding: 2rem 0;
  }
  .footer-title {
    font-size: 45px;
  }
  .copyrights {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
}
